@import 'bourbon';
@import 'neat';
@import 'font-awesome';


*, *:before, *:after {
    box-sizing: border-box;
}

.redText {
    color: red;
}

.blueText {
    color: blue;
}

.greenText {
    color: green;
}